@font-face {
    font-family: 'Raleway';
    src: url('fonts/1Ptsg8zYS_SKggPNyCg4Q4FqPfE.woff2') format('woff2'),
        url('fonts/1Ptsg8zYS_SKggPNyCg4QIFqPfE.woff2') format('woff2'),
        url('fonts/1Ptsg8zYS_SKggPNyCg4QoFqPfE.woff2') format('woff2'),
        url('fonts/1Ptsg8zYS_SKggPNyCg4SYFqPfE.woff2') format('woff2'),
        url('fonts/1Ptsg8zYS_SKggPNyCg4TYFq.woff2') format('woff2'),
        url('fonts/1Ptug8zYS_SKggPNyC0ITw.woff2') format('woff2'),
        url('fonts/1Ptug8zYS_SKggPNyCAIT5lu.woff2') format('woff2'),
        url('fonts/1Ptug8zYS_SKggPNyCIIT5lu.woff2') format('woff2'),
        url('fonts/1Ptug8zYS_SKggPNyCkIT5lu.woff2') format('woff2'),
        url('fonts/1Ptug8zYS_SKggPNyCMIT5lu.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    /* Verhindert FOIT, verbessert Ladezeit */
}

/*^^^^^^^^^^^^^^^^Index^^^^^^^^^^^^^^^^*/

body {
    margin: 0;


}


.kochwelt_logo {
    display: flex;
    width: 130px;
    align-items: center;
    padding-left: 70px;
    padding-top: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    align-items: end;
    padding-right: 70px;
    padding-bottom: 5px;
}

.nav a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    color: #008000;

}

.nav_link {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
    margin-top: 32px;
    color: rgb(64, 59, 59);

}

.Rezeptvorschlag {
    display: flex;
    width: 200px;
    height: 140px;
    border-radius: 3px;

}

.menu_beschreibung {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-bottom: 13px;

}

.erstes_menu_titel {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    margin: 0;
    text-align: start;
    justify-content: end;
}

.erstes_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;

}

.erstes_menu_beschreibung {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 8px;

}

.rezept_öffnen {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    background-color: #008000;
    color: white;
    border-color: transparent;
    border-radius: 1px;
    height: 25px;
    width: 130px;

}

.rezept_öffnen a:hover {
    text-decoration: none;
}



.drei_menus {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;


}

.section2_überschrift {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    padding-top: 15px;
    padding-bottom: 7px;
    margin: 0;



}

.h2_titel_section2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;

}

.menu {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
}

.picture {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.pfanne_wok_titel {
    display: flex;
    font-family: "Raleway", sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-top: 25px;
}

.text_wok {
    display: flex;
    font-family: "Raleway", sans-serif;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
}

.text_section3 {
    display: flex;
    margin: 0;
    margin-top: 10px;
    font-size: 10px;
}

.wok {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 4px;
}

.grau {
    display: flex;
    background-color: rgb(64, 59, 59);
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
}

/*^^^^^^^^^^^^^^^^Index^^^^^^^^^^^^^^^^*/

/*^^^^^^^^^^^^^^^^Rezept Seite^^^^^^^^^^^^^^^^*/

.titel_rezept {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    padding-top: 30px;
}

.section1 {

    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    flex-direction: column;
}

.salat {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 5px;
}

.uhr {
    display: flex;
    height: 7px;
    width: 7px;
    padding-bottom: 1px;
    margin-right: 3px;
}

.uhr_kasten {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}

.text_kasten {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 8px;
    margin: 0;

}

.hirn {
    display: flex;
    height: 7px;
    width: 7px;
    padding-bottom: 1px;
    margin-right: 3px;
}

.hirn_kasten {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    margin-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}

.datum {
    display: flex;
    height: 7px;
    width: 7px;
    padding-top: 1px;
    align-items: center;
    margin-right: 5px;
}

.datum_kasten {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    margin-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}


.reihenfolge_kasten {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.hr_linie {
    display: flex;
    height: 1px;
    padding-right: 0;
    margin-top: 30px;
    background-color: rgb(240, 240, 240);
}

.zutaten {
    display: flex;
    margin-left: 70px;
}

.portionen_berechnung {
    display: flex;
    align-items: center;
}



.text_berechnung {
    display: flex;
    font-style: "Raleway", sans serif;
    font-size: 13px;
    padding-top: 5px;
    padding-right: 8px;
    border-style: 1px;

}

.anzahl_portionen {
    display: flex;
    margin-top: 5px;
    width: 110px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
    border-style: 1px;
    border-color: rgb(240, 240, 240);
}

.portionen {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    background-color: #008000;
    color: white;
    border-color: transparent;
    margin-top: 5px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    height: 21px;
    width: 100px;
}

.rezept_liste {
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 0;
    list-style-type: none;
}

.einzelne_zutaten1 {
    font-family: "Raleway", sans-serif;
    background-color: rgb(240, 240, 240);
    font-size: 10px;
    font-weight: lighter;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;


}

.einzelne_zutaten2 {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.zubereitung {
    margin-left: 70px;
}

.zubereitung_titel {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    margin-bottom: 7px;
}

.zubereitung_text {
    font-family: "Raleway", sans-serif;
    font-size: 9px;
}

.uhr_kasten_section3 {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 0;
    margin-bottom: 8px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);


}

.rezept_erstellt {
    font-family: "Raleway", sans-serif;
    font-size: 11px;
    padding-top: 10px;
    flex-direction: row;
}

.rezept_ersteller {
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}

.ersteller_bild {
    width: 50px;
    height: 50px;
}

.name_ersteller {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    align-items: center;
    text-align: center;
    
    padding-left: 25px;
}

.footer_rezept {
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 150px;
    margin-top: 60px;



}


/*^^^^^^^^^^^^^^^^Rezept Seite^^^^^^^^^^^^^^^^*/

/*^^^^^^^^^^^^^^^^Kontakt Seite^^^^^^^^^^^^^^^^*/

.anmeldung {
    display: flex;
    justify-content: center;


}

.anmeldeformular {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 120px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
}

.h2_kontakt {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;


}

.titel_feld {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 8px;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 10px;
}

.textfeld {

    display: flex;
    font-style: "Raleway", 'sans serif';
    justify-content: center;
    border-radius: 4px;
    border-color: transparent;
    outline: none;
    width: fit-content 194px;
}

.textfeld_gross {

    display: flex;
    font-style: 'Raleway', "sans serif";
    justify-content: center;
    border-radius: 4px;
    border-color: transparent;
    outline: none;
    width: fit-content 194px;
    height: 100px;
}

.senden {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    text-align: center;
    align-items: center;
    margin-left: 43px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 7px;
    background-color: #008000;
    color: white;
    border-style: hidden;
    height: 15px;
    width: 80px;

}

.logo_und_socialmedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 150px;

}

.logo_kochwelt {
    display: flex;
    width: 100px;
    height: 30px;
    margin-left: 60px;

}

.facebook_logo {
    display: flex;
    height: 25px;
    width: 25px;


}

.instagram_logo {
    display: flex;
    height: 25px;
    width: 25px;
    padding-left: 5px;



}

.social_media {
    display: flex;
    margin-right: 60px;
}

.impressum_mail_copyright_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
}

.impressum_footer {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.copyright {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.mailLink {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

/*^^^^^^^^^^^^^^^^Kontakt Seite^^^^^^^^^^^^^^^^*/



/*****************Impressum*********************/

.impressum {
    font-family: "Raleway", sans serif;
}

/*^^^^^^^^^^^^^^^^Impressum^^^^^^^^^^^^^^^^^^^^*/

/*****************send_email.html***************/

.mail_on_the_way {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-style: "Raleway", sans serif;
    font-size: 30px;
}

/*^^^^^^^^^^^^^^^^send_email.html^^^^^^^^^^^^^^^*/


/* 1. Home
- header;	Hintergrund: rgb(255,255,255)
		Schriftfarbe: rgb(64,59,59)
		Schriftfarbe Link: rgb(2,128,0)

- Sektion 1; 	Überschrift: französische Croissants: rgb(0,0,0)
		Hintergrund: rgb(255,255,255)
		Beschreibung: rgb(101,101,136)
		Button: rgb(2,128,0) (Button Text: rgb(255,255,255))

- Sektion 2;	Überschrift: Lust auf was Neues? rgb(0,0,0)
		Hintergrund: rgb(239,239,239)
		Rezept Titel: rgb(0,0,0)
- Sektion 3;	Überschrift: Pfanne vs. Wok – was ist besser: rgb(0,0,0)
		Hintergrund: rgb(255,255,255)
		Beschreibung: rgb(101,101,136)
- footer;	Hintergrund: rgb(64,59,59)

2. Rezeptseite
- Überschrift:						rgb(0,0,0)
- Hintergrund Dauer, Schwierigkeit & Datum: 	rgb(239,239,239)
- Text Dauer, Schwierigkeit & Datum:		rgb(0,0,0)
- Hintergrund Zutatenliste: 				rgb(255,255,255) & rgb(239,239,239)
- Text Zutatenliste:					rgb(0,0,0)

3. Kontaktseite
- Fomularhintergrund:				rgb(220,220,220)
- Kontaktieren sie uns:				rgb(35,35,35)
- Formularfelder:					rgb(255,255,255)
- Button Hintergrund:					rgb(2,128,0)
- Button Text:						rgb(255,255,255) */