@font-face {
    font-family: 'Raleway';
    src: url('fonts/1Ptsg8zYS_SKggPNyCg4Q4FqPfE.woff2') format('woff2'),
        url('fonts/1Ptsg8zYS_SKggPNyCg4QIFqPfE.woff2') format('woff2'),
        url('fonts/1Ptsg8zYS_SKggPNyCg4QoFqPfE.woff2') format('woff2'),
        url('fonts/1Ptsg8zYS_SKggPNyCg4SYFqPfE.woff2') format('woff2'),
        url('fonts/1Ptsg8zYS_SKggPNyCg4TYFq.woff2') format('woff2'),
        url('fonts/1Ptug8zYS_SKggPNyC0ITw.woff2') format('woff2'),
        url('fonts/1Ptug8zYS_SKggPNyCAIT5lu.woff2') format('woff2'),
        url('fonts/1Ptug8zYS_SKggPNyCIIT5lu.woff2') format('woff2'),
        url('fonts/1Ptug8zYS_SKggPNyCkIT5lu.woff2') format('woff2'),
        url('fonts/1Ptug8zYS_SKggPNyCMIT5lu.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    /* Verhindert FOIT, verbessert Ladezeit */
}

body {
    margin: 0;


}


.kochwelt_logo {
    display: flex;
    width: 130px;
    align-items: center;
    padding-left: 70px;
    padding-top: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    align-items: end;
    padding-right: 70px;
    padding-bottom: 5px;
}

.nav a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    color: #008000;

}

.nav_link {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
    margin-top: 32px;
    color: rgb(64, 59, 59);

}

.Rezeptvorschlag {
    display: flex;
    width: 200px;
    height: 140px;
    border-radius: 3px;

}

.menu_beschreibung {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-bottom: 13px;

}

.erstes_menu_titel {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    margin: 0;
    text-align: start;
    justify-content: end;
}

.erstes_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;

}

.erstes_menu_beschreibung {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 8px;

}

.rezept_öffnen {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    background-color: #008000;
    color: white;
    border-color: transparent;
    border-radius: 1px;
    height: 25px;
    width: 130px;

}

.rezept_öffnen a:hover {
    text-decoration: none;
}



.drei_menus {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;


}

.section2_überschrift {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    padding-top: 15px;
    padding-bottom: 7px;
    margin: 0;



}

.h2_titel_section2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;

}

.menu {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
}

.picture {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.pfanne_wok_titel {
    display: flex;
    font-family: "Raleway", sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-top: 25px;
}

.text_wok {
    display: flex;
    font-family: "Raleway", sans-serif;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
}

.text_section3 {
    display: flex;
    margin: 0;
    margin-top: 10px;
    font-size: 10px;
}

.wok {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 4px;
}

.grau {
    display: flex;
    background-color: rgb(64, 59, 59);
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
}

/*^^^^^^^^^^^^^^^^Rezept Seite^^^^^^^^^^^^^^^^*/

.titel_rezept {
    display: flex;
    padding-left: 70px;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    padding-top: 30px;
}

.section1 {

    display: flex;
    padding-left: 70px;
    flex-direction: column;
}

.salat {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    width: 150px;
    height: 120px;
    border-radius: 5px;
}

.uhr {
    display: flex;
    height: 5px;
    width: 6px;
    padding-bottom: 1px;
    margin-right: 3px;
}

.uhr_kasten {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 70px;
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}

.text_kasten {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 6px;
    margin: 0;

}

.hirn {
    display: flex;
    height: 5px;
    width: 6px;
    padding-bottom: 1px;
    margin-right: 3px;
}

.hirn_kasten {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}

.datum {
    display: flex;
    height: 5px;
    width: 5px;
    padding-top: 1px;
    align-items: center;
    margin-right: 5px;
}

.datum_kasten {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}


.reihenfolge_kasten {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.hr_linie {
    width: 600px;
    height: 1px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    background-color: rgb(240, 240, 240);
}


/*^^^^^^^^^^^^^^^^Rezept Seite^^^^^^^^^^^^^^^^*/

.anmeldeformular {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 120px;
    margin-left: 350px;
    margin-right: 350px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
}

.h2_kontakt {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;


}

.titel_feld {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 8px;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-inline-start: 0;
}

.textfeld {

    display: flex;
    justify-content: center;
    border-radius: 4px;
    border-style: hidden;
    width: 192px;
}

.textfeld_gross {
    display: flex;
    height: 100px;
    border-radius: 4px;
    border-style: hidden;
    width: 192px;
}

.senden {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 56px;
    padding-block: 3px;
    font-size: 7px;
    background-color: #008000;
    color: white;
    border-style: hidden;
    height: 15px;
    width: 80px;

}

.logo_und_socialmedia {
    display: flex;
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 70px;

}





/* 1. Home
- header;	Hintergrund: rgb(255,255,255)
		Schriftfarbe: rgb(64,59,59)
		Schriftfarbe Link: rgb(2,128,0)

- Sektion 1; 	Überschrift: französische Croissants: rgb(0,0,0)
		Hintergrund: rgb(255,255,255)
		Beschreibung: rgb(101,101,136)
		Button: rgb(2,128,0) (Button Text: rgb(255,255,255))

- Sektion 2;	Überschrift: Lust auf was Neues? rgb(0,0,0)
		Hintergrund: rgb(239,239,239)
		Rezept Titel: rgb(0,0,0)
- Sektion 3;	Überschrift: Pfanne vs. Wok – was ist besser: rgb(0,0,0)
		Hintergrund: rgb(255,255,255)
		Beschreibung: rgb(101,101,136)
- footer;	Hintergrund: rgb(64,59,59)

2. Rezeptseite
- Überschrift:						rgb(0,0,0)
- Hintergrund Dauer, Schwierigkeit & Datum: 	rgb(239,239,239)
- Text Dauer, Schwierigkeit & Datum:		rgb(0,0,0)
- Hintergrund Zutatenliste: 				rgb(255,255,255) & rgb(239,239,239)
- Text Zutatenliste:					rgb(0,0,0)

3. Kontaktseite
- Fomularhintergrund:				rgb(220,220,220)
- Kontaktieren sie uns:				rgb(35,35,35)
- Formularfelder:					rgb(255,255,255)
- Button Hintergrund:					rgb(2,128,0)
- Button Text:						rgb(255,255,255) */